<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>About</title>
</head>

<body class="bg-dark">

        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="../index.html"><img src="../img/logo-penta-music.png" ></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../views/about.html">About</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link active" href="../views/login.html">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="../views/playlist.html">Playlist</a>
                                </li>
                            <li class="nav-item">
                            <a class="nav-link active" href="../views/shop.html">Shop</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        </div>
                    </div>
                    </nav>
            </div>
        </header>
        <main class="container">
            <section class="row my-5">
                <div class="col-md-6">
                    <img src="../img/quienes-somos.jpg" alt="img" class="img-fluid" >
                </div>
                <div class="col-md-6 text-white">
                    <h3 class="h3">About Us</h3>
                    <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eveniet aut libero tenetur non nihil iste quia doloribus saepe iure quibusdam eaque veritatis fugit aliquid alias porro fuga odit tempore perspiciatis blanditiis aliquam cupiditate hic, dolores pariatur. Nihil adipisci odit corrupti, ab doloribus ex a sit error ipsa, quibusdam molestias.</p>
                    <p class="texto">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, atque? Ad quia quo minima eum exercitationem eveniet illo assumenda, veniam delectus odio numquam totam corrupti repellat dolorum dolores ratione ex deserunt? Delectus, assumenda, vel sint sed quisquam, itaque eveniet commodi hic explicabo cumque obcaecati dolor? Velit dicta ad, vel hic voluptates inventore veniam voluptatibus esse rem nihil repudiandae natus eum quisquam repellat accusamus delectus tempora vitae ex facere aliquid obcaecati.
                    </p>
                </div>
            </section>
        </main>



    <!--footer class="grid-footer">
        <div class="img-footer">
            <img  src="../img/logo-penta-music.png">
        </div>
        <div class="redes">
            <img src="../img/instagram.png">
            <img src="../img/whatsapp.png" >
            <img src="../img/face.png">
            <img src="../img/twiter.png">
        </div>
    </!--footer>-->

    <footer class="container-fluid text-light">
        <div class="row p-5 bg-secondary">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <img src="../img/logo-penta-music.png" alt="">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5">Seguinos en Redes</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <img src="../img/twiter.png" alt="">
                <img src="../img/instagram.png" alt="">
                <img src="../img/whatsapp.png" alt="">
                <img src="../img/face.png" alt="">
            </div>
        </div>
    </footer>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
crossorigin="anonymous">
</script>
</body>

</html>