<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="encabezado">
        <div class="div-menu">
            <a href="../index.html">
                <img src="../img/logo-penta-music.png">
            </a>
            <input type="text" placeholder="search">
        </div>
            <nav>
                <a href="../views/about.html">About</a>
                <a href="../views/login.html">Login</a>
                <a href="../views/playlist.html">Playlist</a>
                <a href="../views/shop.html">Shop</a>
            </nav>  
    </header>

    <main class="grid-login">
        <div class="caja-contenedora">
            <div class="iconos">
                <img src="../img/icono-home.png">
                <a href="../index.html">Home</a>
            </div>
            <div class="iconos">
                <img src="../img/icono-nosotros.png" >
                <a href="#">Artists</a>
            </div>
            <div class="iconos">
                <img src="../img/icono-album.png" >
                <a href="#">Albums</a>
            </div>
            <div class="iconos">
                <img src="../img/icono-mic.png" >
                <a href="#">Podcast</a>
            </div>
            <div class="iconos">
                <img src="../img/icono-corazon.png" >
                <a href="#">Mix</a>
            </div>
        </div>
        <form class="box" action="login.html" method="post">
            <h1>Login</h1>
            <input type="text" name="" placeholder="Username">
            <input type="password" name="" placeholder="Password">
            <input type="submit" name="" placeholder="Login">
        </form>
    </main>

<!--<footer class="grid-footer">
    <div class="img-footer">
        <img  src="../img/logo-penta-music.png">
    </div>
    <div class="redes">
            <img src="../img/instagram.png">
            <img src="../img/whatsapp.png" >
            <img src="../img/face.png">
            <img src="../img/twiter.png">
    </div>
</footer>-->







</body>
</html>